.ICEauthority
.bash_history
.bash_logout
.cache/
.config/Code/
.config/dconf/
.config/enchant/
.config/evolution/
.config/gedit/
.config/gnome-initial-setup-done
.config/google-chrome/
.config/i3blocklets/
.config/ibus/
.config/mimeapps.list
.config/monitors.xml
.config/nautilus/
.config/neofetch/
.config/pulse/
.config/spotify/
.config/totem/
.config/transmission/
.config/user-dirs.dirs
.config/user-dirs.locale
.dbus/
.fehbg
.gitconfig
.gnupg/
.gtkrc-2.0
.i3blocks.conf
.icons/
.inputrc
.local/
.mozilla/
.mume/
.node_repl_history
.npm/
.nv/
.pki/
.profile
.pylint.d/
.python_history
.sudo_as_admin_successful
.vim/
.viminfo
.vscode/
.wget-hsts
.zcompdump
.zcompdump-wayne-Desktop-5.5.1
.zsh_history
.zshrc.pre-oh-my-zsh
BoostParts/
CMakeCache.txt
CMakeFiles/
Downloads/
Makefile
Pictures/
Workspace/
cmake_install.cmake
compile_commands.json
examples.desktop
i3blocks/
snap/
test
ycm/
screenFetch-2019-06-11_02-36-50.png
.config/cherrytree/
.config/composer/
.config/devilspie2/
.config/gnome-control-center/
.config/gtk-2.0/
.config/systemd/
.config/tilix/
.config/gnome-initial-setup-done.FNMC5Z
.config/terminator/
